/* -----------------------------------------------------------------------------

  FONTS

----------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

/* -----------------------------------------------------------------------------

  BOX SIZING RESET

----------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  ROOT ELEMENTS

----------------------------------------------------------------------------- */

.metajelo_record {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #4F4F4F;
  background-color: #FBFBFB;
  font-family: "Oxygen", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  padding: 1em;
}

.metajelo_productsHeader {
  font-size: 30px;
  color: #3b3b3b;
  line-height: 1.2;
  font-weight: 700;
}

.metajelo_relatedIdentifiersHeader {
  font-size: 18px;
  color: #3b3b3b;
  line-height: 1.2;
  font-weight: 600;
}

.metajelo_productCitation {
  font-weight: 650;
  background-color: #FFFEA8;
  padding: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.metajelo_errorDisplay {
  font-weight: 650;
  color: #ffffff;
  background-color: #f44336;
  padding: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.metajelo_errorDisplayBox {
  padding: 15px;
}

/* -----------------------------------------------------------------------------

  TEXT ELEMENTS

----------------------------------------------------------------------------- */
.metajelo_record a {
  color: #A91919;
  text-decoration: none;
  margin-right: 1px;
}

.metajelo_record a:hover {
  color: #6B4B00;
}
/* #9d1d41; */

.metajelo_record b,
.metajelo_record strong {
  font-weight: 700;
}

.metajelo_record i,
.metajelo_record em {
  font-style: italic;
}

.metajelo_applies_info {
   display: none;
}

/* -----------------------------------------------------------------------------

  MEDIA ELEMENTS

----------------------------------------------------------------------------- */
.metajelo_record img {
  max-width: 100%;
  height: auto;
}

/* From icomoon */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vf7xir');
  src:  url('fonts/icomoon.eot?vf7xir#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vf7xir') format('truetype'),
    url('fonts/icomoon.woff?vf7xir') format('woff'),
    url('fonts/icomoon.svg?vf7xir#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.metajelo_icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.metajelo_icon-lock:before {
  content: "\f023";
}
.metajelo_icon-check-square-o:before {
  content: "\f046";
}
.metajelo_icon-square-o:before {
  content: "\f096";
}
.metajelo_icon-unlock:before {
  content: "\f09c";
}
.metajelo_icon-minus-square-o:before {
  content: "\f147";
}

/* End of From icomoon */
