bower_components/
.cache
dist/
testdist/
/node_modules
.pulp-cache/
output/
generated-docs/
.npm/
.psc-package/
.psc*
.purs*
.psa*
.spago/
css
metajelo-ui-css-classes
prod/
prod/css

tests/index.js
tests/prod/

# Temp files:
*~
\.\#*
.xdg*
.fuse_hidden*
dev_container.cid