bower_components/
.cache
dist/
testdist/
/node_modules
.pulp-cache/
output/
generated-docs/
.npm/
.psc-package/
.psc*
.purs*
.psa*
.spago/

app/prod/
!app/prod/css

test/index.js

# Temp files:
*~
\.\#*
.xdg*
.fuse_hidden*
